{{define "main"}}
<article>
  <header class="mb-4 bg-primary-600">
    <span class="py-96">
      <h1 class="py-16 text-5xl font-black text-center text-white ">
        {{ .Title }}
      </h1>
    </span>
  </header>
  <div class="max-w-4xl mx-auto mt-8 mb-2">
    <div class="px-6">
     
      <img src="{{.Params.preview }}" 
           class="max-h-min mx-auto overflow-hidden rounded-lg shadow-lg ring-4 ring-zinc-300/40 dark:ring-gray-900/40 shadow-neutral-100/20 dark:shadow-neutral-800/40"/>
    </div>
  </div>
    
  <!-- " {{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  <div class="max-w-4xl px-6 pt-6  mx-auto prose dark:prose-invert dark:text-white ">
    {{.Content}}
 
  </div>

  <div class="max-w-4xl px-6 pt-6 pb-16 mx-auto prose dark:prose-invert dark:text-white text-xl font-bold">  
    <span class="">{{ with .Params.file_label }}
    {{.}}: 
    {{end}}
    </span>

    {{ with .Params.file }}
    <a href="{{ . }}"> Télécharger</a>
    {{ end }}
  </div>

</article>
{{end}}

