

  <!-- News Section -->
  <div class="flex flex-col mt-8">
      <h2 class="text-3xl font-black tracking-tight text-primary-500 dark:text-primary-300 sm:text-4xl">
          À la Une 
      </h2>
  
      <div class="grid gap-4 mx-auto mt-4 lg:max-w-none md:grid-cols-1">
        {{ range (first 3 (where .Site.RegularPages "Section" "news")) }}
                  <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-800 rounded-lg shadow-lg mb-4 news-card">
                      <a href="{{.Permalink}}" class="flex-shrink-0">
                          <img src="{{ with .Params.preview }}{{ with resources.Get . }}{{ (.Resize "600x webp q90").RelPermalink }}{{ end }}{{ end }}" class="news-image rounded-l-lg w-32 h-32 md:w-48 md:h-32" loading="lazy" alt="{{ .Title }}" />
                      
                          <div class="tag-overlay">
                            {{ .Params.tags }}
                        </div>
                      </a>
                     
                      <div class="flex-1 p-4">
                          <div class="flex-1">
                              <div class="flex items-center justify-between">
                                  <a href="{{.Permalink}}" class="block mt-1 text-xl font-black text-gray-900 dark:text-gray-200 hover:text-primary-600 dark:hover:text-primary-500 hover:underline">
                                      {{ .Title }}
                                  </a>
                                  <span class="text-xs text-gray-500 dark:text-white">
                                      <time datetime="{{ .Date.Format "2006-01-02" | lang .Site.Language.Lang }}">{{ dateFormat "02 janvier 2006" .Date }}</time>
                                  </span>
                              </div>
                              <div class="mt-2 text-sm text-gray-900 dark:text-gray-300 overflow-hidden h-16 md:h-20">
                                  {{ .Params.summary }}
                              </div>
                          </div>
                      </div>
                  </div>
          {{ end }}
      </div>
  </div>
  


<style>
    .news-image {
        height: 100%;
        width: 132px;
        object-fit: cover;
    }
    @media (max-width: 568px) {
        .news-image {
            display: none;
        }
    }
    .tag-overlay {
        position: relative;
        bottom: 40px;
        left: 0;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 4px 8px;
        font-size: 12px;
        border-top-right-radius: 10px; /* Adjust the radius as needed */
        border-bottom-right-radius: 10px; /* Adjust the radius as needed */
        transition: transform 0.3s ease-in-out; /* Added transition for smooth movement */
    }
    .tag-overlay:hover {
        transform: translateY(-5px); /* Adjust the upward movement value as needed */
    }
    .news-card:hover {
        box-shadow: 0 0 16px rgba(255, 255, 255, 0.3); /* Adjust the shadow color and size as needed */
    }
</style>